single-file
single-file-core
.DS_Store
single-file-safari.xcodeproj/project.xcworkspace/xcuserdata/gildas.xcuserdatad/UserInterfaceState.xcuserstate
single-file-safari.xcodeproj/xcuserdata/gildas.xcuserdatad/xcschemes/xcschememanagement.plist
